.section_subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 212, 212);
    font-size: medium;
    font-weight: 400;
    font-style: italic;
    border-radius: 20px;
    padding: 0.5rem;
    color:white;
    width:max-content;
    cursor: default;
}